th {
    text-align: left;
    color: #fff;
    background-color: #706d97;
}
td {
    min-width: 250px;
    color: #696969;
    border-bottom: 1px solid #eee;
}
th, td {
    padding: 10px;
    height: 20px;
}
td:first-child {
    width: 100%;
    min-width: 0;
}
th:last-child {
    text-align: right;
}
td:last-child {
    width: 100%;
    min-width: 0;
    text-align: right;
}
tr:nth-child(odd) {
    background-color: #eee;
}
.metro img{
  margin-bottom: 5px;
  
}